.Detail {
  background: #212020;
  color: #fff;
}
.TopDetails {
  padding: 75px;
  display: flex;
}
.TopDetailImage{
  height: 375px;
  width: 250px;
}

.TopDetailLeft {
  text-align: center;
  max-width: 250px;
  position: relative;
}

.TopDetailRight {
margin-left: 15px;
width: 600px;
z-index: 10;
}
.Description {
  font-size: 20px;
  line-height: 1.2;
}

.Homepage {
  color: red;
  margin: 5px 0 0 0;
}
.Watched {
  position: absolute;
  right: 5px;
  top: 10px;
  z-index: 999;
  color: yellow;
}
.Title{
  font-size: 55px;
  border-bottom: solid 1px red;
  margin-bottom: 15px;
}

.TopDetailLeft p {
  margin: 5px 0 10px 0;
  font-size: 20px;
}
.Detail i {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
} 
.Detail i:hover {
  color: red;
}
.Genre {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 10px 0;
  color: red;
}
.Genre p {
  margin: 0 5px;
  border: solid 1px red;
  padding: 1px 5px;
}
.Date {
  font-size: 24px !important;
  margin: 10px 0 0 0;
}
@media only screen and (max-width: 1300px) {
.TopDetailRight {
width: 400px;
  }
  .Description {
  font-size: 20px;
  line-height: 1.3;
}
}

@media only screen and (max-width: 1300px) {
.TopDetails {
  padding: 50px 10px 50px 10px;
}
.Title {
  font-size: 45px;
}
}

@media only screen and (max-width: 600px) {
.TopDetails {
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.Watched {
  right: 10px;
  top: 5px;
}
.TopDetailLeft {
  margin: 30px 0 0 0;
  width: 100%;
  order: 1;
}
.TopDetailRight {
margin: 0;
  width: 100%;
  text-align: center;
}
.Description {
  font-size: 18px;
}
.Detail i {
  font-size: 30px;
  margin: 0 3%;
}
.IconContainer {
  margin-top: 30px;
}
}
