.Similar {
  background: #161515;
}

.SimilarContent {
  padding: 50px;
}

.SimilarContentContainer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 800px) {
  .SimilarContentContainer {
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;
  }
  .SimilarContent {
    padding: 10px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 800px) {
  .SimilarContent {
    padding: 15px;
  }
}
