.Similar {
  background: #161515;
}

.SimilarContent {
  padding: 50px;
}

.SimilarContentContainer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 800px ){
  .SimilarContentContainer {
  justify-content: center;
}
}