.SimilarContent {
  width: 160px;
  min-height: 260px;
  margin: 15px;
  transition: all 0.2s ease;
}
.SimilarContent:hover {
  background: red;
  padding: 5px;
}
.SimilarImage {
  width: 145px;
  height: 230px;
}

.MovieName {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-top: 6px;
  font-weight: bold;
}
