.ContentCast {
  background: #161515;
  color: #fff;
}

.TopCast { 
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.Expand {
  align-self: center;
  width: 120px;
  font-size: 16px;
  margin-top: 20px;
  color: red;
  border: solid 1px red;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.CastContainer {
 display: flex;
flex-wrap: wrap;
justify-content: center;
}
@media only screen and (max-width: 1200px) {
.TopCast { 
  padding: 50px 0;
}
}