.TopImage {
  height: 375px;
  width: 250px;
  transition: all .2s ease;
  position: relative;
  z-index: 9;
}

.TopItem{
  position: relative;
  z-index: 999;
  min-height: 375px;
  width: 250px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin: 20px; 
  transition: all .2s ease;
}

.TopItem p {
  opacity: 1 !important;
}

.TopItem:hover .TopInformation, .TopItem:active .TopInformation {
  display: block;
}

.TopInformation{
  -webkit-font-smoothing: antialiased;
  height: 375px;
  width: 250px;
  background: #000;
  opacity: 0.75;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -5%);
  z-index: 99;
  display: none;
  transition: all .5s ease;
  padding: 0 10px !important;
  text-align: center;
  color: #ccc;
}

.HeartIcon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.HeartIcon:hover {
  color: red;
}


.TopDescription {
  font-size: 16px;
}

.Rating{
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 32px;
}
.TopRating {
  margin-left: 3px;
}

.TopVotes {
  font-size: 14px;
}
.TopViews{
  font-size: 10px;
}

.TopDescription{
  margin: 30px 0 15px 0;
}
.TopContainer {
  margin-bottom: 30px;
}

@media only screen and (max-width: 650px) {
.TopInformation {
  transform: translate(0, 0);
  height: 450px;
  margin: 0;
  padding: 0;
  width: 100%;
  }
  .HeartIcon{
    top: 15px;
    right: 15px;
    font-size: 30px;
  }

.TopInformation{
  justify-content: center;
  max-height: 375px;
  border-radius: 0;
  }
}
