.Header{ 
  position: relative;
  z-index: 99;
  width: 100%;
  height: calc(100vh - 60px);
  background: black;
  overflow: hidden;
}



.Image {
  height: 100%;
  width: 100%;
  filter: brightness(40%);
  transform: scale(1.25);
  animation: zoomIn 30s ease;
}

h1 {
  position: absolute;
  display: inline-block;
  width: 45%;
  z-index: 9999;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 77px;
  text-align: center;
  border-bottom: solid 3px red;
}

.ScrollDown::before{
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 0.8;
  text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
  width: 6rem;
  font-size: 2rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  bottom: 2rem;
  margin-left: -3rem;
  left: 50%;
  animation: bounce 3s ease infinite;
  cursor: pointer;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}


.ScrollDown {
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 750px) {
  .Image{
    object-fit: cover;
  }
  h1 {
    font-size: 45px;
    width: 65%;
  }
}
@keyframes zoomIn {
  0% {transform: scale(1)}
  100% {transform: scale(1.25)}
}