.WatchedWrapper {
  font-size: 54px;
  min-height: calc(100vh - 135px);
  padding: 75px;
  width: 85%;
  margin: 0 auto;
}
.Message{
  font-size: 16px;
  color:  #fff;
}
.Title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.Title:not(:first-child){
  margin-top: 50px;
}


.Watched {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 300px;
  margin: 0 auto;
}


@media only screen and (max-width: 900px) {
  .Favourites {
    padding: 30px;
  }
.Watched{
  justify-content: center;
}
}
@media only screen and (max-width: 600px) {
.WatchedWrapper {
  padding: 30px;
}
}

@media only screen and (max-width: 900px) {
  .Favourites {
    padding: 10px;
  }
}
