.Header{
  width: 100%;
  height: 7vh;
  background: orangered;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.Input {
  width: 425px;
  display: block;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 10px 15px;
  transition: all .2s ease;
  flex: 8;
}
.Input:focus, .Input:active {
  width: 450px;
}

form {
  display: flex;
}

.SearchButton{
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  background: blue;
  border: none;
  color: #fff;
  flex: 2;
}

.SearchIcon{
  font-size: 35px;
}

@media only screen and (max-width: 1024px){
  .Header{
    height: 10vh;
  }
 .Input{
    padding: 10px 10px;
    font-size: 22px;
    width: 95%;
  }
  .Input:focus, .Input:active {
  width: 98%;
  }
}

@media only screen and (max-width: 450px){
 .Input{
    padding: 5px 10px;
    font-size: 22px;
    width: 95%;
  }
  .Input:focus, .Input:active {
  width: 96%;
  }
}
